GOOGLE_API_KEY=get-your-google-api-key-here-http://aistudio.google.com/api-keys

# Observability
LANGFUSE_HOST=https://us.cloud.langfuse.com
LANGFUSE_PUBLIC_KEY=your-langfuse-public-key-here
LANGFUSE_PRIVATE_KEY=your-langfuse-private-key-here